* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg-url);
}

:root {
  --text-color: white;
  --bg-url:url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.20);
  --highlight-color-hover: rgba(255, 255, 255, 0.20);
  --switch-bg: url(./assets/moon-stars.svg);
}

.light { 
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.10);
  --highlight-color-hover: rgba(0, 0, 0, 0.10);
  --switch-bg: url(./assets/sun.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100svh;
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 0px auto 0px;
  padding: 0 24px;
  align-items: center;
}
#profile {
  text-align: center;
  padding: 18px;

}
#profile img {
  width: 112px;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

#container p{ 
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 16px;

  background: var(--surface-color);
  border-radius: 8px;
  border: 1px solid var(--stroke-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s, border 0.3s;
}
/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
#social-icons {
  display:flex;
  padding: 24px 0;
  justify-content: center;
  font-size: 24px;
}
#social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-icons a:hover {
  background: var(--highlight-color-hover);
  padding: 16px;
}
footer {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}