* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#container {
  width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
  align-items: center;
}
#profile {
  text-align: center;
  padding: 24px;

}
#profile img {
  width: 112px;
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#container p{ 
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 24px;
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s, border 0.3s;
}
/* pseudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white
}